

    /* Hero Section */
    .blog-service {
        background: url('../images/services-bg.jpg') no-repeat center center/cover;
        text-align: center;
        padding: 20px;
        height: 95vh;
        color: #fff; 
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-size: cover; 
        z-index: 100;
        display: flex;
      }

  /* Latest Posts */
  .latest-posts {
    padding: 40px 0;
    max-width: 1280px;
    margin: auto;
  }
  
  .post-grid {
    display: grid;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .post-item {
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
   
    transition: transform 0.3s;
    display: flex;
    gap: 15px;
    flex-direction: column;
  }
  
  .post-item:hover {
    transform: scale(1.05);
  }
  
  .post-item img {
    max-width: 100%;
    border-radius: 5px;
  } .post-item p {
   line-height: 24px;
  }
  .blog-bta{
    background: #9538E2;
    padding: 10px 15px;
    color:white;
    border-radius: 5px;
    margin-top: 30px;
    width: 150px;   
    cursor: pointer;

  }
  

  
  
  /* Footer */
  footer {
    text-align: center;
    padding: 20px;
    background: black;
    color: white;
  }
  